/*style sheet for opera page*/

.speech{font-family: 'Courier New', Courier; font-size: medium; color: black;}
.song{font-family: Arial, Helvetica, sans-serif; font-size: medium;color: black;}
.direction{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: larger; color: black; background-color: aquamarine;} 
.name{font-family: 'Times New Roman', Times, serif; font-size: 18; color: burlywood;}

.direction:hover{background-color: aqua;}
.blan{font-family: 'Times New Roman', Times, serif; font-size: large; color: blue;}
.sach{font-family: 'Times New Roman', Times, serif; font-size: large; color: rgb(120, 243, 194);}
.chole{font-family: 'Times New Roman', Times, serif; font-size: large; color: bisque;}
.all{font-family: 'Times New Roman', Times, serif; font-size: large; color: blueviolet;}
table,th,td{border: 1px solid; text-align: center; padding: 10px; margin: 15px}
th{color: rgb(44, 125, 255);}
td{color: rgb(254, 169, 58);}
.name:hover, .blan:hover,.chole:hover,.sach:hover,.all:hover{color: rgb(252, 19, 209); background-color: rgb(29, 75, 97); box-shadow: 20px palevioletred; border: yellow;}


